<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Start a test!</title>
  </head>
  <body>
    <h1>Start a new test!!</h1>
    <form class="" action="/tests" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Start da test!"></input>
    </form>
  </body>
</html>
